[submodule "static/lib/github"]
	path = static/lib/github
	url = https://github.com/bollwyvl/github.git
[submodule "static/lib/d3"]
	path = static/lib/d3
	url = https://github.com/mbostock/d3.git
[submodule "static/lib/moment"]
	path = static/lib/moment
	url = https://github.com/timrwood/moment.git
[submodule "dist"]
	path = dist
	url = https://github.com/bollwyvl/fragile.git
[submodule "static/lib/awesome"]
	path = static/lib/awesome
	url = https://github.com/gregoryloucas/Font-Awesome-More.git
