body {
  padding-bottom: 40px;
}

#app{
  display: none;
}

#landing{
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.loggedin.yep{
  display: none;
}

/* treemap */
#repos rect{
  fill: #fff;
  stroke: #ccc;
}

#repos rect:hover{
  fill: #999;
}

