body {
  padding-bottom: 40px;
}

#app{
  display: none;
}

#landing{
  visibility: hidden;
  margin: 20px auto 0 auto;
  overflow: hidden;
}

.loggedin.yep{
  display: none;
}

img.avatar{
  width: 16px;
  height: 16px;
}

/* treemap */
#repos rect{
  fill: #fff;
  stroke: #ccc;
}

#repos rect:hover{
  fill: #999;
}

